{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Password Change{% endblock %}
{% block content %}

    <div class="form center">

        <div class="img">
            <img src="{% static 'images/form.jpg' %}" alt="">
        </div>
        
        <form  method="POST">
            <h2 id="h">Password change</h2>
            <p>Please enter your old password, for security's sake, 
                and then enter your new password twice so we can verify you typed it in correctly.</p>
            {% csrf_token %}
            
            {{ form|crispy }}
            <button type="submit" class="btn">Change my password</button>
        </form>

    </div>

{% endblock %}