{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
   <section id="profile">
        <div class="profile">
            <div class="profile-img"><img src="{{ profile.profile_image.url }}" alt=""></div>
            <div class="profile-info">
                <h3>{{ profile.user.username }}</h3>
                <p>{{ profile.user.email }}</p>
                <p><span>First name:</span> {{profile.first_name }}</p>
                <p><span>Last name:</span> {{profile.last_name}}</p>
               
            </div>
             <span><a href="{% url 'profile_update' profile.id %}" class="profile-btn">Update profile</a></span>
        </div>
   </section>
{% endblock %}